<ion-tabs>
  <ion-router-outlet id="tabs"></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="speedometer-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="my-day">
      <ion-icon name="radio"></ion-icon>
      My Day
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      Notifications
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="list"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
